/* <Reset básico> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", "Roboto", "Open Sans", Arial, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}
/* </ Reset básico> */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-bottom: 1px solid;
}
.header-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

header nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border-top: 1px solid;
  background: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

header ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
}

header ul > li {
  border: 1px solid #c0c0c0;
  border-radius: 0.5em;
  padding: 0.5em;
  font-weight: bold;
}
#burgerButton {
  padding: 1px;
  border: 1px solid;
  border-radius: 3px;
}
#headerTitlePrimary {
  display: none;
}
#headerTitleSecondary {
  font-weight: bold;
}

#backdrop {
  position: fixed;
  top: 5em;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hero {
  position: relative;
  width: 100%;
  height: 80vh; /* Hero ocupa toda la pantalla */
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/portadas/portadaHomePage.jpg");
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
  z-index: 1;
  padding-top: 0;
  gap: 1em;
}

.hero-logo {
  max-width: 300px;
  /* margin-bottom: 20px; */
}
.hero-title {
  color: black;
  font-size: 2em;
}
.booking-link {
  padding: 12px 30px;
  background-color: #4397ca;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.5em;
  transition: background-color 0.3s ease;
}

.booking-link:hover {
  background-color: #e04848;
}

footer {
  border-top: 1px solid;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 0.5em;
}

footer .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .left-side ul {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

footer .right-side {
  gap: 1em;
  display: flex;
  flex-direction: column;
}

footer .right-side > nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 5px;
}

footer > .right-side ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
footer > .right-side li {
  /* border: 1px solid; */
  /* font-size: 1em; */
  font-weight: bold;
  color: #5a5a5a;
}
/* <Media Query para pantallas a partir de 768px de ancho > */
@media (min-width: 768px) {
  header nav {
    position: static;
    left: 0;
    right: 0;
    top: 100%;
    border: 0;
    /*    background: white; */
    background: none;
    border-radius: 0;
  }
  header ul {
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    gap: 10em;
    padding: 0;
  }

  #headerTitlePrimary {
    display: block;
  }
  #headerTitleSecondary {
    display: none;
  }
  #burgerButton {
    display: none;
  }

  .hero {
    height: 100vh;
    padding-top: 1em;
  }
  .hero-logo {
    max-width: 500px;
  }
  footer {
    justify-content: center;
    gap: 10em;
    flex-direction: inherit;
  }
  footer > .right-side {
    flex-direction: row;
    gap: 3em;
  }
  footer > .right-side nav {
    align-items: normal;
    border-bottom: none;
  }
}
/* </ Media Query para pantallas a partir de 768px de ancho > */

/* <Clases Auxiliares> */
.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.glass-white-1px {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.glass-white-2px {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.glass-white-3px {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.glass-white-4px {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glass-white-5px {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* </ Clases Auxiliares> */
